.btn-primary{
    @include btn($primary-color,$secondary-color);
    &:hover{
        background:rgb(14, 170, 121);
        color :#fff;
    }
    &:active{
        background: $secondary-color;
        color:$primary-color
    }

}

.btn-secondary{
    @include btn($letter-color,#fff,1px solid $letter-color)

}

.ico-primary{
    @include ico($secondary-color);
    &:hover{
        color: rgb(14, 170, 121);
    }
}

.ico-secondary{
    @include ico($letter-color);
    &:hover{
        color: $secondary-color
    }
}



.ico-alert{
    @include ico($letter-color);
    &:hover{
        color: $alert-color
    }
}

.btn-block{
    display:block;
    width: 100%;
}